# Javascript node_modules
./node_modules

# API keys
.env
.env.keys

# webstorm idea
.idea/

package-lock.json

dist
coverage
node_modules
build

.env*
.flaskenv*
!.env.project
!.env.vault


.nx/



.nx/cache
.nx/workspace-data